<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-3"><b>Edit Book Details</b></h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
  <label  class="form-label">Title</label>
  <input type="text" class="form-control" name="t" value="{{book.title}}">
</div>

        <div class="mb-3">
  <label  class="form-label">Author</label>
  <input type="text" class="form-control" name="a" value="{{book.author}}">
</div>

            <div class="mb-3">
  <label  class="form-label">Price</label>
  <input type="text" class="form-control" name="p" value="{{book.price}}" >
</div>

<div class="mb-3">
  <label  class="form-label">pages</label>
  <input type="text" class="form-control" name="pa" value="{{book.pages}}">
</div>


<div class="mb-3">
  <label  class="form-label">language</label>
  <input type="text" class="form-control" name="l" value="{{book.language}}">
</div>


<div class="mb-3">
  <label  class="form-label">Cover</label>
    <img src="{{book.cover.url}}" height="100px" width="75px">
  <input type="file" class="form-control" name="i">
</div>



<div class="mb-3">
  <label  class="form-label">Pdf</label>
    <a href="{{book.pdf.url}}">{{book.pdf}}</a>
  <input type="file" class="form-control" name="f">
</div>


    <div class="mb-3">
        <input type="submit" value="ADD">
    </div>




</form>
{% endblock %}